<h1>Objectives</h1>

<%= link_to "new objective", new_objective_path %>

<div id="objectives">
  <% @objectives.each do |objective| %>
    <div>
    <ul>
        <li>
            <%= link_to objective.title, objective_path(objective.id) %>
        </li>
    </ul>
    </div>
  <% end %>
</div>
